.loginBar{
  display:flex;
  text-align:center;
  justify-content:center;
  
}


.btn{
  display:flex;
  justify-content:center;
  padding-top:5px;
  
}

.loginBtn{
  background-color:skyblue;
  font-size:20px;
  text-align:center;
}

.signInBtn{
  background-color:blue;
  color:white;
  margin-left:10px;
  font-size:20px;
  text-align:center;
}

.loginBtn:hover{
  color:white;
}